﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Raleway"
          rel="stylesheet" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">

    <meta name="description"
          content="Somos una cadena de farmacias con más de 10 años brindando servicios para la salud en Córdoba Argentina." />
    <meta name="keywords"
          content="Farmacias, obras sociales, perfumería, medicamentos recetados, Córdoba Capital" />
    <meta name="author" content="Julio César Villar" />
    <meta name="owner" content="https://farmaciasmartinez.com.ar/" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="content-language" content="es_AR" />
    <link rel="canonical" href="https://farmaciasmartinez.com.ar/" />
    <meta name="url" content="https://farmaciasmartinez.com.ar/" />
    <meta property="og:type" content="business.business" />
    <meta property="og:title" content="Farmacias Monica Martinez" />
    <meta property="og:description"
          content="Recibimos todas las obras sociales, contactanos para pedir tus medicamentos recetados online." />
    <meta property="og:url" content="https://farmaciasmartinez.com.ar/" />
    <meta property="og:image"
          content="https://farmaciasmartinez.com.ar/favicon.ico" />
    <meta property="business:contact_data:street_address"
          content="Sarmiento 1604" />
    <meta property="business:contact_data:locality" content="Córdoba" />
    <meta property="business:contact_data:region" content="Córdoba" />
    <meta property="business:contact_data:postal_code" content="5000" />
    <meta property="business:contact_data:country_name" content="Argentina" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5JCYGSNKCJ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-5JCYGSNKCJ');
    </script>

    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        @*<a class="navbar-brand" href="#">Navbar</a>*@
        <div class="container-fluid">
            <div class="logo">
                <a class="navbar-brand" href="~/Home/Index">
                    <img src="~/Content/img/logo3.svg" />
                </a>
            </div>
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto justify-content-end">
                    @if (!Request.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/Index">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/Contact">Contacto</a>
                        </li>
                    }
                    @Html.Partial("_LoginPartial")
                </ul>
                @*<form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>*@
            </div>
        </div>

    </nav>

    <div class="container-fluid container-custom">
        @RenderBody()
    </div>

    <footer>
        <div class="container-footer container-custom">
            <p>&copy; @DateTime.Now.Year - Farmacias Mónica Martínez</p>
        </div>
        <div class="qr-footer">
            <img src="~/Content/img/QR.png" />
            <img src="~/Content/img/QR1.png" />
        </div>
    </footer>

    @RenderSection("scripts", required: false)
    <script>
        let sucursal = window.localStorage;
        if (!window.localStorage.sucursal) {
            window.localStorage.setItem("sucursal", "1");
        } else {
            window.localStorage.getItem("sucursal");
        }
    </script>
    <script type="application/ld+json">
        {
          "@@context": "http://schema.org",
          "@@type": "Organization",
          "name": "Farmacias Monica Martinez",
          "url": "https://farmaciasmartinez.com.ar/",
          "logo": "https://farmaciasmartinez.com.ar/favicon.ico",
          "sameAs": [
            "https://www.facebook.com/farmaciasmartinez",
            "https://www.instagram.com/farmaciasmartinez/"
          ],
          "description": "Somos una cadena de farmacias con más de 10 años brindando servicios para la salud en Córdoba Argentina.",
          "address": {
            "@@type": "PostalAddress",
            "streetAddress": "Sarmiento 1604",
            "addressRegion": "Córdoba",
            "addressLocality": "Córdoba",
            "postalCode": "5000",
            "addressCountry": "Argentina"
          },
          "email": "farmaciasmartinez@hotmail.com",
          "telephone": "+54 9 351 512-3726",

          "contactPoint": [
            {
              "@@type": "ContactPoint",
              "contactType": "«sales»",
              "telephone": "+54 9 351 512-3726",
              "areaServed": "AR",
              "availableLanguage": "«spanish»",
              "contactOption": "«HearingImpairedSupported»"
            }
          ]
        }
    </script>
</body>
</html>
