﻿@using Microsoft.AspNet.Identity

@*<ul class="navbar-nav ml-auto justify-content-end">*@
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post,
        new { id = "logoutForm", @class = "form-nav" }))
    {
        @Html.AntiForgeryToken()

        <li class="nav-item">@Html.ActionLink("Pacientes", "Index", "Patients", routeValues: null, htmlAttributes: new { @class = "nav-link" })</li>
        <li class="nav-item">@Html.ActionLink("Pedidos", "Index", "Orders", routeValues: null, htmlAttributes: new { @class = "nav-link" })</li>
        <li class="nav-item">@Html.ActionLink("Registrar nuevo usuario", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
        <li class="nav-item">@Html.ActionLink(User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })</li>
        <li class="nav-item"><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Salir</a></li>
    }
}
else
{
    <li class="nav-item"><a id="loginLink" class="nav-link" href="~/Account/Login">Entrar</a></li>
}
@*</ul>*@