﻿@model System.Web.Mvc.HandleErrorInfo

@{ ViewBag.Title = "Error"; }



<div class="error">
    <div>
        <img src="~/Content/img/404.svg" />
    </div>
    <div class="card-error">
        <div class="card-body" style="background-color: #f2f2f2">
            <h1 class="text-muted">Hmm.</h1>
            <p style="color:#272727">
                Parece que algo salio mal, estamos trabajando para solucionarlo.
            </p>
        </div>
    </div>
</div>