﻿@using Web.MonicaMartinez.Models.ViewModels
@model PatientViewModelList

<div class="container-table">
    <div class="subsidiary">
        <button type="button" id="primary" class="btn-custom__primary">
            Suc. Ruta 20
        </button>
        <button type="button" id="secondary" class="btn-custom__secundary">
            Suc. Gral. Paz
        </button>
    </div>

    <div>
        <h2 class="text-muted">Pacientes</h2>
    </div>

    <div class="table-responsive d-sm-block text-nowrap t-body">
        <table class="table table-condensed table-striped table-sm custom-table">
            <thead>
                <tr>
                    <th scope="col">
                        Apellido
                    </th>
                    <th scope="col">
                        Nombre
                    </th>
                    <th scope="col">
                        Obra Social
                    </th>
                    <th scope="col">
                        Afiliado nro.
                    </th>
                    <th scope="col">
                        Domicilio
                    </th>
                    <th scope="col">
                        Telefono
                    </th>
                    <th scope="col">
                        Email
                    </th>
                    <th scope="col">
                        Acciones
                    </th>
                </tr>
                <tr id="filterInputs">
                    <th scope="col">
                        @Html.TextBox("Apellido", "", new
                        {
                            id = "fApellido",
                            @type = "text",
                            @class = "form-control",
                            @placeholder = "Ej. Laudelino",
                            @oninput = "handleFilters(this, 'Apellido');",
                            @autocomplete = "off"
                        })
                    </th>
                    <th scope="col">
                        @Html.TextBox("Nombre", "", new
                   {
                       id = "fNombre",
                       @type = "text",
                       @class = "form-control",
                       @placeholder = "Ej. María Teresa",
                       @oninput = "handleFilters(this, 'Nombre');",
                       @autocomplete = "off"
                   })
                    </th>
                    <th scope="col">
                        @Html.TextBox("ObraSocial", "", new
                   {
                       id = "fObraSocial",
                       @type = "text",
                       @class = "form-control",
                       @placeholder = "Ej. Medifé - plan bronce",
                       @oninput = "handleFilters(this, 'ObraSocial');",
                       @autocomplete = "off"
                   })
                    </th>
                    <th scope="col">
                        @Html.TextBox("TipoNro", "", new
                        {
                            id = "fTipoNro",
                            @type = "text",
                            @class = "form-control",
                            @placeholder = "Ej. 01923012930",
                            @oninput = "handleFilters(this, 'TipoNro');",
                            @autocomplete = "off"
                        })
                    </th>
                    <th scope="col">
                        @Html.TextBox("Domicilio", "", new
                        {
                            id = "fDomicilio",
                            @type = "text",
                            @class = "form-control",
                            @placeholder = "Ej. Bvd. San Juan 85 12/E",
                            @oninput = "handleFilters(this, 'Domicilio');",
                            @autocomplete = "off"
                        })
                    </th>
                    <th scope="col">
                        @Html.TextBox("Telefono", "", new
                        {
                            id = "fTelefono",
                            @type = "text",
                            @class = "form-control",
                            @placeholder = "+54351123456",
                            @oninput = "handleFilters(this, 'Telefono');",
                            @autocomplete = "off"
                        })
                    </th>
                    <th scope="col">
                        @Html.TextBox("Email", "", new
                        {
                            id = "fEmail",
                            @type = "text",
                            @class = "form-control",
                            @placeholder = "Ej. usuario@mail.com",
                            @oninput = "handleFilters(this, 'Email');",
                            @autocomplete = "off"
                        })
                    </th>
                    <th>
                        <label><a id="clean" class="text-info" href="#">Limpiar filtros</a></label>
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="tBody">
            </tbody>
        </table>
    </div>

    <hr />
    <div class="pat-foot">
        <div class="pag">
            @*<nav aria-label="Page navigation example" style="font-family: Arial">
                <ul class="pagination justify-content-center">

                    <li id="li" class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
                    </li>
                    <li class="page-item"><a class="page-link text-muted" href="#">1</a></li>
                    <li class="page-item"><a class="page-link text-muted" href="#">2</a></li>
                    <li class="page-item"><a class="page-link text-muted" href="#">3</a></li>
                    <li class="page-item"><a class="page-link text-muted" href="#">4</a></li>
                    <li class="page-item">
                        <a class="page-link text-muted" href="#">Siguiente</a>
                    </li>
                </ul>
            </nav>*@
        </div>
        <div class="button">
            <button type="button" class="btn-custom__primary" data-toggle="modal" data-target="#createModal">
                Agregar nuevo
            </button>
        </div>
    </div>
</div>

<div class="modal" id="createModal" tabindex="-1" role="dialog" style="font-family: Arial">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Ingresa un nuevo Paciente</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Create", "Patients", FormMethod.Post,
                    new { id = "createForm", @class = "background-color-custom" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="name">Nombre</label>
                            @Html.TextBox("Nombre", "", new
                            {
                                id = "cfNombre",
                                @type = "text",
                                @class = "form-control",
                                @placeholder = "Ej. María Teresa"
                            })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="surname">Apellido</label>
                            @Html.TextBox("Apellido", "", new
                            {
                                id = "cfApellido",
                                @type = "text",
                                @class = "form-control",
                                @placeholder = "Ej. Laudelino"
                            })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="dni">DNI</label>
                            @Html.TextBox("DNI", "", new
                            {
                                id = "cfDni",
                                @type = "number",
                                @class = "form-control",
                                @placeholder = "Ej. 20.202.020"
                            })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="address">Domicilio</label>
                            @Html.TextBox("Domicilio", "", new
                            {
                                id = "cfDomicilio",
                                @type = "text",
                                @class = "form-control",
                                @placeholder = "Ej. Bvd. San Juan 85 12/E"
                            })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="name">Teléfono</label>
                            @Html.TextBox("Telefono", "", new
                            {
                                id = "cfTelefono",
                                @type = "text",
                                @class = "form-control",
                                @placeholder = "+54351123456"
                            })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="mail">Mail</label>
                            @Html.TextBox("Email", "", new
                            {
                                id = "cfEmail",
                                @type = "text",
                                @class = "form-control",
                                @placeholder = "Ej. usuario@mail.com"
                            })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="social">Obra Social</label>
                            @Html.DropDownList("ObraSocial", new List<SelectListItem>(ViewBag.selectList), new
                       {
                           id = "cfObraSocial",
                           @type = "text",
                           @class = "form-control",
                           @onchange = "handleChangeSelectCreate(this.value)"
                       })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="social">Sitio Web</label>
                            @Html.TextBox("Web", "", new
                            {
                                id = "cfWeb",
                                @type = "text",
                                @class = "form-control",
                                @placeholder = "Pegar URL completa"
                            })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="number">N de Afiliado</label>
                            @Html.TextBox("TipoNro", "", new
                            {
                                id = "cfTipoNro",
                                @type = "text",
                                @class = "form-control",
                                @placeholder = "Ej. 01923012930"
                            })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="sucursal">Sucursal</label>
                            @Html.DropDownList("Sucursal",
                                 new List<SelectListItem>(),
                                  new
                                 {
                                     id = "cfSucursal",
                                     @type = "text",
                                     @class = "form-control",
                                 })
                        </div>
                        <div class="form-group col-md-12">
                            <label for="exampleFormControlTextarea1">Medicación Habitual</label>
                            @Html.TextArea("MedHab", "", new
                            {
                                id = "cfMedHab",
                                @type = "text",
                                @class = "form-control",
                                @placeholder = "Ej. aspirinas, etc..."
                            })
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer justify-content-end">
                <div>
                    <a class="btn-custom__primary not-active-primary" href="javascript:document.getElementById('createForm').submit()">Guardar</a>
                    <a class="btn-custom__secundary" data-dismiss="modal">Cerrar</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="editModal" tabindex="-1" role="dialog" style="font-family: Arial">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Editar Paciente</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Edit", "Patients", FormMethod.Post,
                    new { id = "editForm", @class = "background-color-custom" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("eId");

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="name">Nombre</label>
                            @Html.TextBox("Nombre", "", new
                            {
                                id = "efNombre",
                                @type = "text",
                                @class = "form-control",
                                @placeholder = "Ej. María Teresa",
                                @disabled = true
                            })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="surname">Apellido</label>
                            @Html.TextBox("Apellido", "", new
                       {
                           id = "efApellido",
                           @type = "text",
                           @class = "form-control",
                           @placeholder = "Ej. Laudelino",
                           @disabled = true
                       })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="dni">DNI</label>
                            @Html.TextBox("DNI", "", new
                       {
                           id = "efDni",
                           @type = "number",
                           @class = "form-control",
                           @placeholder = "Ej. 20.202.020",
                           @disabled = true
                       })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="address">Domicilio</label>
                            @Html.TextBox("Domicilio", "", new
                       {
                           id = "efDomicilio",
                           @type = "text",
                           @class = "form-control",
                           @placeholder = "Ej. Bvd. San Juan 85 12/E",
                           @disabled = true
                       })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="name">Teléfono</label>
                            @Html.TextBox("Telefono", "", new
                       {
                           id = "efTelefono",
                           @type = "text",
                           @class = "form-control",
                           @placeholder = "+54351123456",
                           @disabled = true
                       })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="mail">Mail</label>
                            @Html.TextBox("Email", "", new
                       {
                           id = "efEmail",
                           @type = "text",
                           @class = "form-control",
                           @placeholder = "Ej. usuario@mail.com",
                           @disabled = true
                       })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="social">Obra Social</label>
                            @Html.DropDownList("ObraSocial", new List<SelectListItem>(ViewBag.selectList), new
                       {
                           id = "efObraSocial",
                           @type = "text",
                           @class = "form-control",
                           @placeholder = "Ej. Medifé - plan bronce",
                           @onchange = "handleChangeSelectEdit(this.value)"  ,
                                @disabled = true
                       })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="social">Sitio Web</label>
                            @Html.TextBox("Web", "", new
                       {
                           id = "efWeb",
                           @type = "text",
                           @class = "form-control",
                           @placeholder = "Pegar URL completa",
                           @disabled = true

                       })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="number">Número de Afiliado</label>
                            @Html.TextBox("TipoNro", "", new
                       {
                           id = "efTipoNro",
                           @type = "text",
                           @class = "form-control",
                           @placeholder = "Ej. 01923012930",
                           @disabled = true
                       })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="sucursal">Sucursal</label>
                            @Html.DropDownList("Sucursal",
                            new List<SelectListItem>(),
                             new
                                {
                                    id = "efSucursal",
                                    @type = "text",
                                    @class = "form-control",
                                    @disabled = true

                                })
                        </div>
                        <div class="form-group col-md-12">
                            <label for="exampleFormControlTextarea1">Medicación Habitual</label>
                            @Html.TextArea("MedHab", "", new
                       {
                           id = "efMedHab",
                           @type = "text",
                           @class = "form-control",
                           @placeholder = "Ej. aspirinas, etc...",
                           @disabled = true
                       })
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer justify-content-between">
                <div class="actions">
                    <a class="text-muted" href="#" onclick="handleEdit()">Editar</a>
                    <a class="text-danger" href="#" onclick="handleDelete(document.getElementById('eId').value)">Borrar</a>
                </div>
                <div>
                    <a class="btn-custom__primary not-active-primary" href="javascript:document.getElementById('editForm').submit()">Guardar</a>
                    <a class="btn-custom__secundary" data-dismiss="modal" onclick="handleCloseModal()">Cerrar</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Eliminar paciente</h5>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Delete", "Patients", FormMethod.Post,
                    new { id = "deleteForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("dId");

                    <p id="delText"></p>
                }
            </div>
            <div class="modal-footer">
                <a class="btn-custom__primary not-active-primary" href="javascript:document.getElementById('deleteForm').submit()">Confirmar</a>
                <button type="button" class="btn-custom__secundary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        const modelListPatients = [...@(Html.Raw(Json.Encode(Model.Pacientes)))];
    </script>
    <script src="~/Scripts/Patients/index.js"></script>
}



