﻿@{ ViewBag.Title = "Contacto"; }

<div class="contact-container" @*class="jumbotron"*@>
    <div class="contact" style=" background-color: #03A688;">
        <div class="data">
            <h3>Farmacia Mónica Martinez I</h3>
            <address>
                Avenida Fuerza Aérea <span>2831</span>, barrio Los Naranjos<br />
                Córdoba, Argentina <br />
            </address>
            <address>
                <strong>Email:</strong> <a href="#">farmaciamartinez1@gmail.com</a><br />
            </address>
            <div class="container-phone">
                <div>
                    <i class="fas fa-phone-alt fa-lg"></i>
                    <p>4667851</p>
                </div>
                <div>
                    <i class="fab fa-whatsapp fa-2x"></i>
                    <a href="https://wa.me/5493512012115?" target="_blank"><p>+54 9 3512 01-2115</p></a>
                </div>
            </div>
        </div>
        <div class="place">
            <a href=@($"https://www.google.com.ar/maps/place/Av.+Fuerza+Aerea+Argentina+2831,+C%C3%B3rdoba/@-31.4314594,-64.2284042,17z/data=!3m1!4b1!4m5!3m4!1s0x9432a20e22a9b4e3:0x8b12124497443f1b!8m2!3d-31.431464!4d-64.2262155") target="_blank">
                <img src="~/Content/img/sucursal1.png" />
            </a>
        </div>
    </div>
    <hr />
    <div class="contact" style="background-color: #f2f2f2;">
        <div class="data-two">
            <h3>Farmacia Mónica Martinez II</h3>
            <address>
                Sarmiento <span>1604</span>, barrio General Paz<br />
                Córdoba, Argentina<br />
            </address>
            <address style="color:#272727">
                <strong>Email:</strong>   <a href="#">farmaciasmartinez@hotmail.com</a><br />
            </address>
            <div class="container-phone-two">
                <div>
                    <i class="fas fa-phone-alt fa-lg"></i>
                    <p>4521395</p>
                </div>
                <div>
                    <i class="fab fa-whatsapp fa-2x"></i>
                    <a href="https://wa.me/+5493515123726?" target="_blank"><p>+54 9 3515 12-3726</p></a>
                </div>
            </div>
        </div>
        <div class="place">
            <a href=@($"https://www.google.com/maps/place/Farmacia+M%C3%B3nica+Mart%C3%ADnez+II/@-31.4119617,-64.1624756,16z/data=!4m13!1m7!3m6!1s0x9432a2a6618dfb29:0x8cf9f421af3df90e!2sGral.+Rom%C3%A1n+Deheza+268,+X5004+BCF,+C%C3%B3rdoba!3b1!8m2!3d-31.412001!4d-64.1624321!3m4!1s0x0:0xebac916ffa89c682!8m2!3d-31.4097165!4d-64.1633695") target="_blank">
                <img src="~/Content/img/pin2.png" />
            </a>
        </div>
    </div>
</div>

