﻿html, body {
    height: 100%;
}
/*body { min-height: 100%; position: relative; padding-bottom: 3em; }
.footer { height: 3em; position: absolute; bottom: 0; }*/


body {
    font-family: Raleway, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/*----------------------------------------Override the default bootstrap behavior-------------------------------*/
.dl-horizontal dt {
    white-space: normal;
}

.btn-primary {
    background-color: #03A688;
    border-color: #03A688;
}

    .btn-primary:hover {
        background-color: #5ABFB5;
        border-color: #03A688
    }

    .btn-primary:focus {
        background-color: #03A688 !important;
        outline: none;
        box-shadow: none;
        border-color: #03A688
    }

    .btn-primary:active {
        background-color: #03A688 !important;
        outline: none;
        box-shadow: none;
    }

        .btn-primary:active:focus {
            background-color: #03A688 !important;
            outline: none;
            box-shadow: none !important;
        }

.btn-secondary {
    background-color: #F2F2F2;
    border-color: #F2F2F2;
    color: #595959;
}

    .btn-secondary:hover {
        background-color: #F9F9F9;
        border-color: #F9F9F9;
        color: #595959;
    }

    .btn-secondary:focus {
        background-color: #F2F2F2 !important;
        outline: none;
        box-shadow: none;
        border-color: #03A688
    }

    .btn-secondary:active {
        background-color: #F2F2F2 !important;
        outline: none;
        box-shadow: none;
    }

        .btn-secondary:active:focus {
            background-color: #F2F2F2 !important;
            outline: none;
            box-shadow: none !important;
        }

.nav-link:hover {
    background-color: #595959;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white;
}

input,
input::-webkit-input-placeholder {
    font-size: 12px;
    font-weight: 200
}

label {
    font-weight: 600;
}

.text-custom {
    color: #03A688;
}

    .text-custom:hover {
        color: #046D59;
    }

.navbar {
    background-color: #F2F2F2;
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-brand {
    padding-top: 0;
}

.navbar-toggler {
    padding: .15rem 0.5rem;
}

.jumbotron.custom > div {
    padding: 30px;
}

@media (max-width: 991.98px) {
    .navbar-expand-lg > .container,
    .navbar-expand-lg > .container-fluid,
    .navbar-expand-lg > .container-lg,
    .navbar-expand-lg > .container-md,
    .navbar-expand-lg > .container-sm,
    .navbar-expand-lg > .container-xl {
        padding-right: 18px;
        padding-left: 20px;
    }
}

@media screen and (min-width: 1045px) {
    .jumbotron.custom {
        display: flex;
    }

        .jumbotron.custom > div {
            width: 50%;
        }
}

.form-check-label {
    font-weight: 300;
}
/*------------------------------------------------Custom Clasess------------------------------------------------*/
.logo {
    max-width: 200px;
    max-height: 60px;
    padding: 5px 0 0 0;
}

    .logo img {
        width: 100%;
    }

.form-nav {
    display: flex;
    flex-direction: column;
}

.contact-container {
    color: white;
}

    .contact-container p {
        color: white;
    }

    .contact-container a {
        color: white;
    }

.contact {
    padding: 10px;
    font-size: 13px;
}

.qr {
    display: flex;
    justify-content: center;
}

.qr-img {
    width: 200px;
    padding: 20px 0;
}

    .qr-img img {
        width: 100%
    }

.data-two {
    color: #272727;
}

    .data-two address a {
        color: #272727;
    }

@media screen and (min-width: 360px) {
    .contact {
        font-size: 15px;
    }
}

@media screen and (min-width: 768px) {
    .contact {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (min-width: 1076px) {

    .contact {
        justify-content: space-between;
        padding: 40px;
    }

    .data {
        align-self: center;
    }

    .data-two {
        align-self: center;
    }



    .place {
        align-self: center;
        justify-self: flex-end;
        width: 300px;
    }

        .place img {
            width: 100%;
        }
}

@media screen and (min-width: 992px) {

    .form-nav {
        flex-direction: row;
    }
}

.container-custom {
    padding: 10px 5% 10px 5%;
    min-height: calc(100% - 188px);
    /*display: flex;*/
    flex-flow: column;
    justify-content: center;
}

.background-color-custom {
    padding: 10px;
}

.place img {
    width: 100%;
}

span {
    font-family: Arial
}

.container-phone {
    display: flex;
    font-family: Arial;
}

.container-phone-two {
    display: flex;
    font-family: Arial;
    color: #272727;
}

.container-phone div {
    display: flex;
    align-items: center;
    padding: 0 20px 0 0;
}

.container-phone-two div {
    display: flex;
    align-items: center;
    padding: 0 20px 0 0;
}

.container-phone a {
    color: white;
}

.container-phone-two a {
    color: #272727;
}


.container-phone p {
    margin: 0;
}

.container-phone-two p {
    margin: 0;
    color: #272727;
}

.container-phone i {
    padding-right: 10px;
}

.container-phone-two i {
    padding-right: 10px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background-color: #F2F2F2;
}


.container-footer {
    display: flex;
}

    .container-footer p {
        margin: 7px 0 0 0;
    }

.qr-footer {
    display: flex;
    padding: 20px;
}

    .qr-footer img {
        width: 100px;
        height: 100px;
        padding: 10px;
    }

.icon {
    cursor: pointer;
}

.login {
    width: 450px
}

tbody {
    font-family: Arial
}

tr {
    font-family: Arial
}

/*@media screen and (min-width: 360px) {

    .t-body {
        height: 300px;
    }
}

@media screen and (min-width: 768px) {

    .t-body {
        height: 400px;
    }
}

@media screen and (min-width: 1366px) {

    .t-body {
        height: 500px;
    }
}*/



/*Register Form*/

.registerForm {
    display: flex;
    justify-content: center;
}

.register-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    background-color: #f2f2f2;
    padding: 40px;
}

.register-button {
    background-color: #03a688;
    border: #03a688;
    padding: 15px;
    color: white;
    width: 200px;
    align-self: center;
}

.register-form a {
    margin-top: 30px;
    align-self: center;
    color: #999;
}

    .register-form a:hover {
        color: #03a688;
    }

input, input::-webkit-input-placeholder {
    color: #272727;
}

.register-form input {
    background-color: #f2f2f2;
    margin-bottom: 20px;
    border: none;
    border-bottom: solid 1px #03a688;
    color: #272727;
    font-size: 18px;
    margin-bottom: 50px;
}

.register-form h3 {
    color: #999;
    margin-bottom: 50px;
}

input:focus {
    outline: none;
}

/*Login Form*/

.loginForm {
    /*background-color: #f2f2f2;*/
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

@media screen and (min-width: 768px) {
    .loginForm {
        padding: 150px 0;
    }
}

@media screen and (min-width: 1024px) {
    .loginForm {
        padding: 90px 0;
    }
}

@media screen and (min-width: 1440px) {
    .loginForm {
        padding: 150px 0;
    }
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #03a688;
    padding: 40px;
}

.login-button {
    background-color: #f2f2f2;
    border: #03a688;
    padding: 15px;
    color: #272727;
    width: 200px;
    align-self: center;
}

.login-form a {
    margin-top: 30px;
    align-self: center;
    color: white;
}

    .login-form a:hover {
        color: #eee;
    }

/*input, input::-webkit-input-placeholder {
    color: white;
}*/

.login-form input {
    background-color: #03A688;
    margin-bottom: 20px;
    border: none;
    border-bottom: solid 1px white;
    color: #272727;
    font-size: 18px;
    margin-bottom: 50px;
}

.login-form h3 {
    color: white;
    margin-bottom: 50px;
}

input:focus {
    outline: none;
}

.button-align {
    flex-flow: column;
}

@media screen and (min-width: 540px) {
    .button-align {
        flex-flow: row;
    }
}


.subsidiary {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px;
}

@media screen and (min-width: 500px) {
    .subsidiary {
        justify-content: flex-end;
        padding-bottom: 0;
    }
}

.btn-custom__primary {
    background-color: #03a688;
    border: #03a688;
    padding: 10px;
    color: white;
    width: auto;
    cursor: pointer;
    text-decoration: none;
}


    .btn-custom__primary:hover {
        background-color: #5abfb5;
        border-color: #03a688;
    }

    .btn-custom__primary:focus {
        background-color: #03a688 !important;
        outline: none;
        box-shadow: none;
        border-color: #03a688;
    }

    .btn-custom__primary:active {
        background-color: #03a688 !important;
        outline: none;
        box-shadow: none;
    }

        .btn-custom__primary:active:focus {
            background-color: #03a688 !important;
            outline: none;
            box-shadow: none !important;
        }

.btn-custom__secundary {
    background-color: #f2f2f2;
    border: #f2f2f2;
    padding: 10px;
    color: #272727;
    width: auto;
    cursor: pointer;
}



    .btn-custom__secundary:hover {
        background-color: #f9f9f9;
        border-color: #f9f9f9;
        color: #595959;
    }

    .btn-custom__secundary:focus {
        background-color: #f2f2f2 !important;
        outline: none;
        box-shadow: none;
        border-color: #03a688;
    }

    .btn-custom__secundary:active {
        background-color: #f2f2f2 !important;
        outline: none;
        box-shadow: none;
    }

        .btn-custom__secundary:active:focus {
            background-color: #f2f2f2 !important;
            outline: none;
            box-shadow: none !important;
        }

.not-active-primary:link, .not-active-primary:visited {
    text-decoration: none;
    color: white;
}

.not-active-secondary:link, not-secondary-active:visited {
    text-decoration: none;
    color: #272727;
}

.input-filter {
    display: flex;
    align-items: center;
    width: 80%;
    padding: 10px 10px 10px 0;
}

.inp-pat {
    font-family: Arial;
    width: 100%;
}

.logged-index {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between
}

.logged-filter {
    padding: 10px 10px 10px 0;
}

.logged-filter-label {
    margin-bottom: 0
}

@media screen and (min-width: 1157px) {
    .input-filter {
        width: 85%;
    }
}

@media screen and (min-width: 1440px) {
    .input-filter {
        width: 75%;
    }
}



.pat-foot {
    display: flex;
    flex-flow: column;
    align-items: center;
}

@media screen and (min-width: 500px) {
    .pat-foot {
        display: grid;
        grid-auto-columns: auto 1fr;
        grid-auto-rows: minmax(max-content, 1fr);
    }


    .pag {
        grid-column: 2 / 3;
    }

        .pag nav {
            margin-top: 20px;
        }

    .button {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
}

.actions a {
    padding: 0 10px 0 0;
}

.estado {
    display: flex;
    align-items: flex-start;
}

.radios {
    display: flex;
    flex-flow: column;
}

@media screen and (min-width: 768px) {
    .radios {
        flex-flow: row;
    }
}

@media screen and (min-width: 1200px) {
    .radios {
        flex-flow: column;
    }
}

.estado label {
    font-weight: 300;
    margin-bottom: 0;
    padding-left: 0;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

    .checkbox input {
        margin-right: 5px;
    }

    .checkbox label {
        margin-bottom: 0;
        font-weight: 300;
    }

.radio {
    display: flex;
}

    .radio label {
        font-weight: 300;
        margin-bottom: 0;
    }


@media screen and (min-width: 500px) {
    .online-orders {
        display: flex;
        justify-content: space-between
    }
}


.local {
    display: flex;
    align-items: center;
    padding: 10px 0
}

    .local a {
        padding-left: 10px;
        color: #272727
    }

.business {
    display: flex;
    align-items: center;
    padding: 10px 0
}

    .business a {
        padding-left: 10px;
        color: white
    }


.error {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.face {
    font-size: 100px;
}

.card-error {
    width: auto;
    margin-top: 30px;
}

@media screen and (min-width: 425px) {
    .card-error {
        width: 25rem;
    }
}

.custom-table thead tr th {
    position: sticky;
    top: 0;
    background-color: white;
    border: 0;
}

.custom-table thead tr#filterInputs th {
    position: sticky;
    top: 35px;
    border: 0;
}

.custom-table tbody {
}

.container-table {
    width: 100%
}

.back-image-social {
    background-image: url("../../Content/img/social-min.png");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 225px;
    flex-flow: column;
    justify-content: space-between;
    padding: 20px;
}

.back-image-local {
    background-image: url("../../Content/img/local-min.png");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 225px;
    flex-flow: column;
    justify-content: space-between;
    padding: 20px;
}

.back-image-orders {
    background-image: url("../../Content/img/pedidos-min.png");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 225px;
    flex-flow: column;
    justify-content: space-between;
    padding: 20px;
}

.orders-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


    .orders-title h1 {
        font-size: 15px;
        padding: 10px;
        color: white;
        background-color: #00A293;
    }

.orders-points {
    display: flex;
}

    .orders-points a {
        text-decoration: none;
        color: white;
    }

.points {
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 0 10px 20px 0;
    background-color: #00A293;
}

    .points img {
        margin-right: 5px;
        width: 30px;
    }

    .points a {
        font-size: 10px;
    }

.carousel-control-next, .carousel-control-prev {
    width: 5%;
}

@media screen and (min-width: 768px) {
    .back-image-orders {
        height: 550px;
        padding: 40px;
    }

    .back-image-social {
        height: 550px;
        padding: 40px;
    }

    .back-image-local {
        height: 550px;
        padding: 40px;
    }

    .orders-title h1 {
        font-size: 30px;
        padding: 20px;
    }

    .points {
        padding: 15px;
        margin: 0 20px 0 0;
    }

        .points img {
            margin-right: 10px;
            width: 40px;
        }

        .points a {
            font-size: 15px;
        }

    .carousel-control-next, .carousel-control-prev {
        width: 5%;
    }
}
