﻿@model Web.MonicaMartinez.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "Olvidaste tu contraseña?";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Ingresa tu dirección de mail</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Email Link" />
        </div>
    </div>



}

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
}
