﻿@using Web.MonicaMartinez.Models.ViewModels
@model LoginViewModel


<section class="loginForm">

    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl },
        FormMethod.Post, new { @class = "login-form", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h3>Login</h3>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email", @class = "mail", @autocomplete = "off" })
        @Html.PasswordFor(m => m.Password, new { @placeholder = "Contraseña", @class = "pass", @autocomplete = "off" })

        <button class="login-button">Entrar</button>


        //Enable this once you have account confirmation enabled for password reset functionality
        @Html.ActionLink("Olvidé mi contraseña", "ChangePassword", "Manage")
    }

</section>
