﻿@model Web.MonicaMartinez.Models.ViewModels.RegisterViewModel

<section class="registerForm">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "register-form", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h3>Crear una nueva cuenta</h3>
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "mail" })
        @Html.PasswordFor(m => m.Password, new { placeholder = "Contraseña", @class = "pass" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirmar Contraseña", @class = "confirm-pass" })
        <button class="register-button">Registrar</button>
    }
</section>
