﻿@using Web.MonicaMartinez.Models.ViewModels
@model OrderViewModelList


<div class="container-table">
    <div class="subsidiary">
        <button type="button" id="primary" class="btn-custom__primary" onclick="eventPrimary()">
            Suc. Ruta 20
        </button>
        <button type="button" id="secondary" class="btn-custom__secundary" onclick="eventSecondary()">
            Suc. Gral. Paz
        </button>
    </div>

    <div>
        <h2 class="text-muted">Pedidos</h2>
    </div>

    <div class="table-responsive d-sm-block text-nowrap t-body">
        <table class="table table-condensed table-striped table-sm custom-table">
            <thead>
                <tr>
                    <th>
                        O.S.
                    </th>
                    <th>
                        Paciente
                    </th>
                    <th>
                        Detalle / Aclaraciones
                    </th>
                    <th scope="col">
                        Estado
                    </th>
                    <th scope="col">
                        Acciones
                    </th>
                </tr>
                <tr id="filterInputs">
                    <th scope="col">
                        @Html.TextBox("ObraSocialPaciente", "", new
                        {
                            id = "fOrden",
                            @type = "text",
                            @class = "form-control",
                            @placeholder = "Ej. 1234554",
                            @oninput = "handleFilters(this, 'ObraSocialPaciente');",
                            @autocomplete = "off"
                        })
                    </th>
                    <th scope="col">
                        @Html.TextBox("NombreTelefonoPaciente", "", new
                   {
                       id = "fNombreTelefonoPaciente",
                       @type = "text",
                       @class = "form-control",
                       @placeholder = "Ej. 351234567",
                       @oninput = "handleFilters(this, 'NombreTelefonoPaciente');",
                       @autocomplete = "off"
                   })
                    </th>
                    <th scope="col">
                        @Html.TextBox("Detalle", "", new
                   {
                       id = "fDetalle",
                       @type = "text",
                       @class = "form-control",
                       @placeholder = "Ej. Entrega demorada",
                       @oninput = "handleFilters(this, 'Detalle');",
                       @autocomplete = "off"
                   })
                    </th>
                    <th scope="col">
                    </th>
                    <th scope="col">
                        <label><a id="clean" class="text-info" href="#">Limpiar filtros</a></label>
                    </th>
                </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>
    </div>

    <div class="pat-foot">
        <div class="pag">
            @*<nav aria-label="Page navigation example" style="font-family: Arial">
                <ul class="pagination justify-content-center">

                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
                    </li>
                    <li class="page-item"><a class="page-link text-muted" href="#">1</a></li>
                    <li class="page-item"><a class="page-link text-muted" href="#">2</a></li>
                    <li class="page-item"><a class="page-link text-muted" href="#">3</a></li>
                    <li class="page-item"><a class="page-link text-muted" href="#">4</a></li>
                    <li class="page-item">
                        <a class="page-link text-muted" href="#">Siguiente</a>
                    </li>
                </ul>
            </nav>*@
        </div>
        <div class="button">
            <button type="button" class="btn-custom__primary" data-toggle="modal" data-target="#createModal">
                Agregar nuevo
            </button>
        </div>
    </div>
</div>

<div class="modal" id="createModal" tabindex="-1" role="dialog" style="font-family: Arial">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h3 class="modal-title">Ingresa un Pedido</h3>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                @using (Html.BeginForm("Create", "Orders", FormMethod.Post,
                  new { id = "createForm", @class = "background-color-custom" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-row">
                        <div class="form-group col-md-4 col-xl-3">
                            <label for="sucursal">Sucursal</label>
                            @Html.DropDownList("Sucursal",
                         new List<SelectListItem>(),
                          new
                         {
                             id = "cfSucursal",
                             @type = "text",
                             @class = "form-control",
                         })
                        </div>
                        <div class="form-group col-md-8 col-xl-6">
                            <div class="input-group input-group-sm p-0 m-0 row">
                                <label class="col pl-0" for="paciente">Paciente</label>
                                @Html.TextBox("NombreTelefonoPaciente", "", new
                           {
                               id = "cfFiltroPaciente",
                               @type = "text",
                               @class = "form-control col",
                               @placeholder = "paciente",
                               @oninput = "hadleFilterOrderCreate(this, 'NombreTelefonoPaciente');",
                               @autocomplete = "off"
                           })
                            </div>
                            <div>
                                @Html.DropDownList("Paciente", new List<SelectListItem>(),
                                    new
                                      {
                                          id = "cfPacientes",
                                          @type = "text",
                                          @class = "form-control",
                                      })
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-lg-5 col-xl-3">
                            <label class="mb-1" for="estado">Estado</label>
                            <div class="estado">
                                <div class="radios">
                                    <label id="cfRecibido" class="container">
                                        <input type="radio" name="Recibido" value="recibido">
                                        <span class="checkmark"></span>
                                        Recibido
                                    </label>
                                    <label id="cfPreparar" class="container">
                                        <input type="radio" name="Recibido" value="preparar">
                                        <span class="checkmark"></span>
                                        Preparar
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="cfEntregado" name="Entregado" value="entregado">
                                    <label for="cfEntregado">Entregado</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="detalle">Detalles</label>
                            @Html.TextArea("Detalle", "", new
                       {
                           id = "cfDetalle",
                           @type = "text",
                           @class = "form-control",
                           @placeholder = "Ej. Entrega demorada"
                       })
                        </div>
                        @Html.Hidden("Fecha", DateTime.Today.ToString("MM/dd/yy"))
                    </div>
                }
            </div>
            <div class="modal-footer justify-content-between">
                @Html.Label("Fecha", DateTime.Today.ToString("dd/MM/yyyy"), new
           {
               id = "cfFecha"
           })
                <div>
                    <a class="btn-custom__primary not-active-primary" href="javascript:document.getElementById('createForm').submit()">Guardar</a>
                    <a class="btn-custom__secundary" data-dismiss="modal">Cerrar</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="editModal" tabindex="-1" role="dialog" style="font-family: Arial">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Editar Orden</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                @using (Html.BeginForm("Edit", "Orders", FormMethod.Post,
                    new { id = "editForm", @class = "background-color-custom" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("eId");

                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="sucursal">Sucursal</label>
                            @Html.DropDownList("Sucursal",
                      new List<SelectListItem>(),
                       new
                       {
                           id = "efSucursal",
                           @type = "text",
                           @class = "form-control",
                           @disabled = true

                       })
                        </div>
                        <div class="form-group col-md-8 col-xl-6">
                            <div class="input-group input-group-sm p-0 m-0 row">
                                <label class="col pl-0" for="paciente">Paciente</label>
                                @Html.TextBox("NombreTelefonoPaciente", "", new
                           {
                               id = "efFiltroPaciente",
                               @type = "text",
                               @class = "form-control col",
                               @placeholder = "paciente",
                               @oninput = "hadleFilterOrderEdit(this, 'NombreTelefonoPaciente');",
                               @autocomplete = "off",
                               @disabled = true

                           })
                            </div>
                            <div>
                                @Html.DropDownList("Paciente", new List<SelectListItem>(),
                                    new
                                    {
                                        id = "efPacientes",
                                        @type = "text",
                                        @class = "form-control",
                                        @disabled = true

                                    })
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-lg-5 col-xl-3">
                            <label class="mb-1" for="estado">Estado</label>
                            <div class="estado">
                                <div class="radios">
                                    <label class="container">
                                        <input id="efRecibido" type="radio" name="Recibido" value="recibido" disabled>
                                        <span class="checkmark"></span>
                                        Recibido
                                    </label>
                                    <label class="container">
                                        <input id="efPreparar" type="radio" name="Recibido" value="preparar" disabled>
                                        <span class="checkmark"></span>
                                        Preparar
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="efEntregado" name="Entregado" value="entregado" disabled>
                                    <label for="efEntregado">Entregado</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="address">Detalles</label>
                            @Html.TextArea("Detalle", "", new
                       {
                           id = "efDetalle",
                           @type = "text",
                           @class = "form-control",
                           @placeholder = "Ej. Entrega demorada",
                           @disabled = true

                       })
                        </div>

                    </div>
                }
            </div>

            <div class="modal-footer justify-content-between justify-content-center">
                <div class="actions">
                    <a class="text-muted" href="#" onclick="handleEdit()">Editar</a>
                    <a class="text-danger" href="#" onclick="handleDelete(document.getElementById('eId').value)">Borrar</a>
                </div>
                <div>
                    @Html.Label("Fecha", DateTime.Today.ToString("dd/MM/yyyy"), new
                           {
                               id = "efFecha",
                               style = "margin-bottom: 0;"
                           })
                </div>
                <div>
                    @Html.Label("Orden",
                    new
                    {
                        id = "efOrden",
                        style = "margin-bottom: 0;"

                    })
                </div>
                <div>
                    <a class="btn-custom__primary not-active-primary" href="javascript:document.getElementById('editForm').submit()">Guardar</a>
                    <a class="btn-custom__secundary" data-dismiss="modal" onclick="handleCloseModal()">Cerrar</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Eliminar pedido</h5>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Delete", "Orders", FormMethod.Post,
                    new { id = "deleteForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("dId");

                    <p id="delText"></p>
                }
            </div>
            <div class="modal-footer">
                <a class="btn-custom__primary not-active-primary" href="javascript:document.getElementById('deleteForm').submit()">Confirmar</a>
                <button type="button" class="btn-custom__secundary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        const pedidos = [...@(Html.Raw(Json.Encode(Model.Pedidos)))];
        const pacientes = [...@(Html.Raw(Json.Encode(Model.Pacientes)))];
    </script>
    <script src="~/Scripts/Orders/index.js"></script>
}



